@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/orange";

body,.app {
	min-height: 100vh;
}

.matrix-design {
	font: var(--font-m);
	color: var(--primary-color);
	background: var(--bg-color);

	*::-webkit-scrollbar, &::-webkit-scrollbar {
		width: 12px;
		height: 8px;               /* ширина всей полосы прокрутки */
	}

	*::-webkit-scrollbar-track, &::-webkit-scrollbar-track{
		background: var(--card-bg);        /* цвет зоны отслеживания */
	}
	
	*::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb {
		background-color: var(--inverted-primary-color);    /* цвет бегунка */
		border-radius: 20px;       /* округлось бегунка */
		border: 2px solid var(--primary-color);  /* отступ вокруг бегунка */
	}
}

.beauty-design {
	background: var(--bg-beauty);
	font: var(--font-m-beauty);
	color: var(--text-beauty);

	*::-webkit-scrollbar, &::-webkit-scrollbar {
		width: 12px;
		height: 8px;               /* ширина всей полосы прокрутки */
	}
	
	*::-webkit-scrollbar-track, &::-webkit-scrollbar-track {
		background: var(--light-bg-beauty);        /* цвет зоны отслеживания */
	}
	
	*::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb {
		background-color: var(--icon-beauty);    /* цвет бегунка */
		border-radius: 20px;       /* округлось бегунка */
		border: 2px solid var(--accent-beauty);  /* отступ вокруг бегунка */
	}
}

iframe#webpack-dev-server-client-overlay{display:none!important}