@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/orange";

body,.app {
	font: var(--font-m);
	color: var(--primary-color);
	background: var(--bg-color);
	min-height: 100vh;
}

.outlet-wrapper {
	height: calc(100vh - var(--navbar-height));
	flex-grow: 1;
	padding: 20px;
	padding-left: 45px;
	overflow-y: auto;
}