.options{
	background-color: var(--listbox-bg);
	position: absolute;
	z-index: 10;
	border-radius: 12px;
	box-shadow: 4px 4px 8px var(--listbox-bg);
	min-width: 100%;
}

.option{
	padding: 10px;
}

.selected {
	background-color: darkgreen;
}