.navbar {
	height: var(--navbar-height);
	background-color: var(--inverted-bg-color);
	padding: 20px;
}

.title {
	width: var(--sidebar-width);
	flex-shrink: 0;
}

.notifications {
	min-height: 150px;
	max-height: 300px;
	width: 500px;
	overflow-y: auto;
}