.navbar {
	width: 100%;
	height: var(--navbar-height);
	background-color: var(--inverted-bg-color);
	padding: 20px;
	display: flex;
	align-items: center;
}

.title {
	width: var(--sidebar-width);
	flex-shrink: 0;
}

