.navbar {
	width: 100%;
	height: var(--navbar-height);
	background-color: var(--inverted-bg-color);
	padding: 20px;
	display: flex;
	color: red !important;
	align-items: center;
}

// .links {
// 	margin-left: auto;
// }
