.menu {
	background-color: var(--card-bg);
	position: absolute;
	z-index: 10;
	border-radius: 8px;
	border: 1px solid var(--primary-color);
	display: flex;
	flex-direction: column;
	text-align: center;
}

.item {
	padding: 10px 25px;
	min-width: 100%;
	border: none;
	background-color: transparent;
	outline-color: transparent;
	color: var(--primary-color);
	cursor: pointer;
}

.textNoWrap {
	white-space: nowrap;
}