.item {
	margin-top: 10px;
	width: 100%;
	padding: 0 16px;
}

.link {
	margin-left: 10px;
	transition: .3s width;
}

.active {
	background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
	position: relative;

	// border-left: 2px solid var(--accent-beauty);

	&::before {
		content: "";
		position: absolute;
		width: 2px;
		left: 0;
		background: var(--accent-beauty);
		height: 100%;
	}
}

.collapsed {
	&.item {
		padding: 0;
	}

	.link {
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		margin: 0;
		width: 0;
	}
}