.sidebar {
	width: var(--sidebar-width);
	background-color: var(--inverted-bg-color);
	height: calc(100vh - var(--navbar-height));
	transition: width .3s;
	position: relative;
	color: var(--inverted-primary-color);
}

.switchers {
	position: absolute;
	bottom: 20px;
}

.langSwitcher {
	margin-left: 20px;
}

.collapseButton {
	position: absolute;
	bottom: 40px;
	left: 100%;
	padding: 4px 8px;
}

.items {
	margin-top: 10px;
	margin-left: 30px;
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.langSwitcher {
		margin-left: 0;
	}

	.link {
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		width: 0;
	}
}