.loader {
	display: block;
	position: relative;
}

.loader.max {
	width: 400px;
	height: 400px;
}

.loader.min {
	width: 80px;
	height: 80px;
}

.loader.min::after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 8px;
	box-sizing: border-box;
	border: 32px solid var(--primary-color);
	border-color: var(--primary-color) transparent;
	animation: loader 2.4s infinite;
}

.loader.max::after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 40px;
	box-sizing: border-box;
	border: 160px solid var(--primary-color);
	border-color: var(--primary-color) transparent;
	animation: loader 2.4s infinite;
}


@keyframes loader {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	100% {
		transform: rotate(1800deg);
	}
}
 