.button {
	cursor: pointer;
	color: var(--primary-color);
}

// .primary {}

.outline {
	color: var(--primary-color);
	padding: 10px 15px;
	border: 1px solid var(--primary-color);
}

.clear {
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none;
}