.card {
	padding: 24px;
}
	
.border-normal {
	border-radius: 12px;
}
	
.border-round {
	border-radius: 40px;
}
	
.border-high {
	border-radius: 20px;
}

.primary {
	background: var(--dark-bg-beauty);
}

.light {
	background: var(--light-bg-beauty);
}

.outline {
	border: 1px solid var(--accent-beauty);
}

.max {
	width: 100%;
}

.padding-0 {
	padding: 0;
}

.padding-8 {
	padding: 8px;
}

.padding-16 {
	padding: 16px;
}

.padding-24 {
	padding: 24px;
}

.flex {
	display: flex;
}